@font-face {
  font-family: "RoBoto-Medium";
  src: url("./font/RobotoMedium.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Russo One-Regular";
  src: url("./font/RussoOne-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("./font/Roboto-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
